# CI for Product Catalog Service

name: product-catalog-ci

on: 
    pull_request:
        branches:
        - main

jobs:
    build:
      runs-on: ubuntu-latest
      

      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: setup go 1.22
          uses: actions/setup-go@v4
          with:
            go-version: 1.22

        - name: build
          run: |
            cd src/product-catalog 
            go mod download 
            go build -o product-catalog main.go

        - name: unit tests
          run: go test src/product-catalog/..

    code-quality:
      runs-on: ubuntu-latest

      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Run golangci-lint
          run: |
                go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
                golangci-lint run /src/product-catalog/...

    docker:
      runs-on: ubuntu-latest

      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: install docker buildx
          uses: docker/setup-buildx-action@v2

        - name: Login into DockerHub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: build and push docker image
          uses: docker/build-push-action@v6
          with:
            context: /src/product-catalog/
            file: Dockerfile
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/product-catalog:${{github.run_id}}

    update-k8s:
      runs-on: ubuntu-latest
      needs: docker

      steps:
        - name: checkout code
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.GIT_TOKEN }}


        - name: setup kubectl
          uses: azure/setup-kubectl@v3
          with:
            version: 'latest'

        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/product-catalog-:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml

        - name: Commit and Push changes
          run: |
               git config --global user.name "rahmanhanan7"
               git config --global user.email "rahmanhanan7@gmail.com
               git add kubernetes/productcatalog/deploy.yaml
               git commit -m "[CI]: Update product-catalog image tag to ${{github.run_id}}
               git push